
<div class="mainContent ion-activatable ripple-parent">
  <p (click)="selected('1')"> {{util.translate('Popularity')}} </p>
  <p (click)="selected('2')">{{util.translate('Price - Low to High')}}</p>
  <p (click)="selected('3')"> {{util.translate('Price - High to Low')}} </p>
  <p (click)="selected('4')"> {{util.translate('A - Z')}} </p>
  <p (click)="selected('5')"> {{util.translate('Z - A')}} </p>
  <p (click)="selected('6')"> {{util.translate('% Off - High to Low')}} </p>
  <ion-ripple-effect type="bounded"></ion-ripple-effect>
</div>