
<ion-content >
  
  <swiper-container #swiper (slidechange)="slideChanged($event)">
    <swiper-slide>
      <div class="slide-content" style="padding-top: 70%;">
        <img src="assets/imgs/sliders/3.png"/>
        <ion-label class="head-title">Welcome to Birnana </ion-label>
        <ion-label class="sub-title">{{getContent(1)}}
        </ion-label>
        
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content" style="padding-top: 10%;">
        <img src="assets/imgs/sliders/4.png"/>
        <ion-label class="head-title">We provide best quality Items to your family. </ion-label>
        <ion-label class="sub-title">{{getContent(2)}}
        </ion-label>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content" style="padding-top: 30%;">
        <img src="assets/imgs/sliders/1.png"/>
        <ion-label class="head-title">Fast and responsibily delivery by our riders.  </ion-label>
        <ion-label class="sub-title">{{getContent(3)}}
        </ion-label>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="pagers">
    <div *ngFor="let item of items" [class]="item == index ?'active':'deactive'"></div>
  </div>
 
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isLast == false">
    <ion-fab-button (click)="onLogin()">
      {{util.translate('Skip')}}
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-footer class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-button class="custom-button" expand="block" (click)="next()" *ngIf="isLast == false">Next</ion-button>
    <ion-button class="custom-button" expand="block" (click)="onHomeScreen()" *ngIf="isLast == true">Continue Shopping</ion-button>
    <ion-button class="custom-button" color="dark" expand="block" (click)="onSignUp()" *ngIf="isLast == true">Create An Account</ion-button>
    <ion-button class="custom-button" fill="outline" color="dark" expand="block" (click)="onLogin()" *ngIf="isLast == true">Login</ion-button>
  </ion-toolbar>
</ion-footer>